<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dkalita" >

	<!-- Ubertesters library user-permisions -->
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<!-- Ubertesters library user-permisions -->

		<application
			android:name=".MyApplication"
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">

			<meta-data
					android:name="ubertesters_organization_token"
					android:value="41058278-4b1f-11e4-a2b7-22000ac44c54" />

			<activity
				android:name=".MyActivity"
				android:label="@string/app_name" >
				<intent-filter>
					<action android:name="android.intent.action.MAIN" />

					<category android:name="android.intent.category.LAUNCHER" />
				</intent-filter>
			</activity>

		</application>

</manifest>
